#field {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
    background: black;

    width: 15px;
    height: 15px;
    margin: 3px;

    box-sizing: border-box;
}

.mine {
    background-color: #990112;
    background-image: url("./fired.svg");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;

    box-shadow: 0 0 2px 2px #AA2222;

    border: 1px solid #bb010d;
}

.opened {
    background-color: #222725;

    box-shadow: 0 0 2px 2px #780917;

    border: 1px solid #bb010d;
}

.flag {
    background-image: url("./target.svg");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;

    box-shadow: inset 0 0 2px 2px #780917;
}