#root {
  display: flex;
  justify-items: center;

  width: 100vw;
  height: 100vh;
  margin: auto;
}

#root > div {
  margin: auto;
}

header {
  display: flex;

  width: fit-content;
  margin: auto;
}

#info, #info * {
  display: flex;
  justify-content: space-between;
}

img {
  height: 25px;
  margin: auto 10px;
  pointer-events: none;
}

img:not(.logo) {
  height: 15px;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
